/AIS-Shop-Agent/MainDisplayFlash/bin/Debug/FlashFileMass/vdo4.mov
/HQ-WindowsService/CSIWindowService/obj
/HQ-WindowsService/CSIWindowService/bin
/HQ-WindowsService/SupportServerInfo/bin/Debug/SupportServerInfo.xml
/HQ-WindowsService/SupportServerInfo/bin/Debug/ServerInfo_AKKARAWATP.xlsx
/HQ-WindowsService/SupportServerInfo/bin/Debug/SupportServerInfo.exe
/HQ-WindowsService/SupportServerInfo/bin/Debug/SupportServerInfo.pdb
/HQ-WindowsService/SupportServerInfo/bin/Debug/SupportServerInfo.vshost.exe
/HQ-WindowsService/SupportServerInfo/bin/Debug/SupportServerInfo.vshost.exe.manifest
/HQ-WindowsService/SupportServerInfo/obj
/HQ-WindowsService/HQ-WindowsService.suo
/AIS-HQ-Agent/Engine/obj
/AIS-HQ-Agent/Engine/bin
/RefObj/CenLinqDB/obj
/RefObj/CenLinqDB/bin
/RefObj/CenParaDB/obj
/RefObj/CenParaDB/bin
/RefObj/ShLinqDB/obj
/RefObj/ShLinqDB/bin
/RefObj/ShParaDB/obj
/RefObj/ShParaDB/bin
